@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

</head>
<body>

    <div class="text-center">

        <h3>Welcome to TicketHub</h3>
        <h4>The best place to buy and sell tickets</h4>
        @Html.ActionLink("Login", "Login", null, new { @class = "btn btn-primary" })
    </div>

</body>
</html>
